body {
  margin: 0;
  padding: 0;
  width: 800px;
  font-size: 16px;
  font-family: "Yahei Consolas Hybrid", "Microsoft Yahei UI", Consolas, SimHei, 'Courier New', monospace;
}

code {
  color: orange;
  border: #30363d 2px solid;
  margin: 0px 7px;
  margin-right: 0;
  padding: 5px;
  border-radius: 5px;
  background-color: #3e3e3e;
}

#container {
  margin: 0px;
  padding: 10px 30px;
  background-color: #333333;
  color: white;
}

span.highlight {
  color: #b2b23e;
}

footer {
  text-align: right;
  padding-right: 30px;
  line-height: 0.8em;
}
